<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Results</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  </head>
  <body>
    <center>
      <%
        if(result.length != 0) {
      %>
      <table class="table table-dark table-hover">
        <tr>
          <th>Organisation</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>NPI</th>
        </tr>
        <%
            result.forEach( function(result_list) {
        %>
       <tr>
          <td><%= result_list.Organisation %></td>
          <td><%= result_list.firstName %></td>
          <td><%= result_list.lastName %></td>
          <td><%= result_list.npiNumber %></td>
       </tr>
      <% })} else { %>
      <h2>NO RECORDS FOUND! Please Check Your Input Again!</h2>
      <% }; %>
      </table>
    </center>
  </body>
</html>
