<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Results</title>
    <style>
table {
font-family:sans-serif;
font-size: 3rem;
th, td {
  padding:.25em .5em;
  text-align:left;
  &:nth-child(2) {
    text-align:right;
  }
}
td {
  background-color:#eee;
}
th {
  background-color:#009;
  color:#fff;
}
    </style>
  </head>
  <body>
    <center>
      <table border="1">
        <tr>
          <th>Organisation</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>NPI</th>
        </tr>
        <%
            result.forEach( function(result_list) {
        %>
       <tr>
          <td><%= result_list.Organisation %></td>
          <td><%= result_list.firstName %></td>
          <td><%= result_list.lastName %></td>
          <td><%= result_list.npiNumber %></td>
       </tr>
      <% }); %>
      </table>
    </center>
  </body>
</html>
